h1 {
  font-family: raleway,
    sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 5rem;
  padding: 0px;
  margin: 0px;
}

h2 {
  font-family: raleway,
    sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 4rem;
  padding-bottom: 0px;
  padding-top: 2rem;
  margin: 0px;
}


.modal-content {

  border: solid darkgreen 8px;
  color: white;
  font-family: raleway,
    sans-serif;
}

.modal-body {
  background-image: url("assets/images/darkerWeedGrid4.jpg");
  object-position: center top;
  object-position: 100px 50px;
}

.modal-header {
  background-color: darkgreen;

}

.close {
  color: white;
  z-index: 10;
}

.modal-title {
  font-size: 3rem;
}