h1 {
  font-family: raleway,
    sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 5rem;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 1rem;
}

h2 {
  font-family: raleway,
    sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 4rem;
  padding-bottom: 0px;
  padding-top: 2rem;
  margin-top: 0px;
  margin-bottom: 0px;

}

h5 {
  font-family: raleway,
    sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 3rem;
  margin-top: 2rem;
  margin-bottom: 0px;
  background-color: white;
  color: black;
  padding-top: 10px;
  padding-bottom: 10px;
}

h6 {
  font-family: raleway,
    sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  margin-top: 3rem;
}



.modal-content {

  border: solid #4C7002 8px;
  color: white;
  font-family: raleway,
    sans-serif;
}

.modal-body {
  background-image: url("assets/images/darkerWeedGrid4.jpg");
  object-position: center top;
  object-position: 100px 50px;
  padding: 3rem;
}

.modal-header {
  background-color: #4C7002;
  border: none;
}

.modal-footer {
  border-top: none;
  text-align: center;
  margin-top: 2rem;
}

.close {
  color: white;
  z-index: 10;
  font-size: 30px;
}

.modal-title {
  font-size: 3rem;
}

.btn-default {
  background-color: #4C7002;
  color: white;
}